body {
  width: 400px;
  height: 562px;
}

.greeting > img {
  position: absolute;
  z-index: 100;
  top: -50px;
  right: -50px;
  height: 180px;
}
.greeting__type {
  color: #2f2f2f;
  font-weight: 400;
  margin-bottom: 0px;
  font-size: 1.8rem;
}

.greeting__name {
  color: #6c757d;
  margin-bottom: 0px;
}
.progressContainer {
  height: 200px;
}

#progress {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.actionInput {
  background-color: beige;
  height: 50px;
}

.actionItems {
  background-color: blanchedalmond;
  height: 200px;
}

.actionItems__item {
  height: 50px;
  background-color: blueviolet;
  margin: 3px;
}
