body {
  width: 400px;
  height: 562px;
}

.greeting > img {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100px;
}

.progressContainer {
  background-color: aquamarine;
  height: 50px;
}

.actionInput {
  background-color: beige;
  height: 50px;
}

.actionItems {
  background-color: blanchedalmond;
  height: 200px;
}

.actionItems__item {
  height: 50px;
  background-color: blueviolet;
  margin: 3px;
}
